<h1>Place to view my recipe</h1>

<%if @recipes.empty?%>
  <div class='recipe-index-page d-flex a-center j-center'>
    <h1>You have no recipies. Please add a recipe <%= link_to "here", new_recipy_path%></h2>
  </div>
<%else%>
  <div class='recipe-cont d-flex f-col j-center a-center'>
  <div class="flash d-flex a-center j-center">
    <% flash.each do |name, msg| %>
      <p class=<%= name %>><%= msg %> </p>
    <% end -%>
  </div>
  <%@recipes.each do |recipe|%>
    <div class='recipe-details-cont d-flex a-center'>
      <div class='recipe-name-delete d-flex j-center f-col'>
        <%= link_to "#{recipe.name}", recipy_path(recipe.id) %>
        <%if can? :destroy, recipe %>
              <%= button_to "Delete Recipe", recipy_path(recipe.id), :method => :delete %>
        <%end%>
      </div>
      <div class='description'>
        <p><%= recipe.description%></p>
      </div>
    </div>
  <%end%>
</div>
<%end%>

