<div class='recipe-show-page d-flex f-col a-center j-center'>
   <div class="flash d-flex a-center j-center">
    <% flash.each do |name, msg| %>
      <p class=<%= name %>><%= msg %> </p>
    <% end -%>
    </div>
    <div class='recipe-show-details d-flex f-col j-center'>
      <h1 class='d-flex a-center j-center'><%= @recipe.name %></h1>
      <div class='name-public d-flex a-center'>
        <h2><span><%="Preparation Time: #{@recipe.preparation_time}"%></span> <span></span></h2>
        <%if @recipe.public %>
          <div class='p-contain d-flex a-center j-center'>
            <h2>Public: </h2>
            <div class='name-public-btn'>
              <div class='div1'></div>
                 <button class='div1-btn'></button>
              </div>
          </div>
        <%end%>
      </div>
      <h2><%="Cooking Time: #{@recipe.cooking_time}"%></h2>
      <h2 class='desc'><%= "Description: #{@recipe.description}" %></h2>
      <div class= 'list-control d-flex a-center'>
        <%= link_to "Generate Shopping List", generate_shopping_list_index_path %>
        <% if can? :create, @recipe%>
            <%= link_to "Add new Ingredients", new_recipy_recipies_food_path(@recipe.id)%>
        <%end%>
      </div>
    </div>
    <%if @recipe_foods.empty?%>
        <div class='recipe-show-none'>
            <h1>No Ingredient added. Please add an Ingredient</h1>
        </div>
    <%else%>
      <div class='recipe-show-table'>
        <table class='recipe-table'>
          <tr>
            <th> Food </th>
            <th> Quantity </th>
            <th> Value </th>
            <% if can? :delete, @recipe%>
               <th> Actions </th>
            <%end%>
            
          </tr>
          <% @recipe_foods.each do |recipe_food| %>
            <tr class='tr'>
                <td><%=recipe_food.food.name%></td>
                <td><%= "#{recipe_food.quantity}#{recipe_food.food.measurement_unit}"%></td>
                <td><%= "$#{recipe_food.food.price.to_i * recipe_food.quantity.to_i}"%></td>
                <% if can? :delete, @recipe%>
                    <td> 
                      <%= button_to "Delete", recipy_recipies_food_path(@recipe.id, recipe_food.id), :method => :delete  %>
                    </td>
                 <%end%>
            </tr>
          <%end%>
        </table>
      </div>

    <%end%>
   

</div>